* {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    justify-content: center;
}

.div1 {
    display: flex;
    flex-direction: column;
    color: #fff;
    background-color: #000;
    width: 400px;
    height: 400px;
    margin-top: 40px;
    text-align: start;
}

.div2 {
    align-self: center;
    color: #ffffff;
    background-color: #808080;
    width: 200px;
    height: 200px;
    margin-top: auto;
    margin-bottom: auto;
}