* {
    margin: 0;
    padding: 0;
}

.div1,
.div2,
.div3,
.div4,
.div5 {
    height: 200px;
    width: 200px;
    position: relative;
}

.div1,
.div3,
.div5 {
    background-color: black;
}

.div2,
.div4 {
    background-color: gray;
}

.div2,
.div3,
.div4,
.div5 {
    position: relative;
    top: 100px;
    left: 100px;
}